services:
  db:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: repair_bncc
    volumes:
      - ./mysql_data:/var/lib/mysql

  web:
    image: php:8.2-apache
    ports:
      - "8075:80"
    volumes:
      - ./src:/var/www/html
    command: >
      sh -c "docker-php-ext-install mysqli && apache2-foreground"
    depends_on:
      - db
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8074:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - db